ZAI_API_KEY=
ZAI_BASE_URL=
ZAI_MODEL=
BLOCKFROST_API_KEY_PREPROD=
EVE_PORT=21949
EVE_URL=http://127.0.0.1:21949
COWORKER_ID=

MPS_PORT=38127
MPS_URL=http://127.0.0.1:38127

AGENT_API_PORT=21950
PAID_TASKS_ENABLED=false
